header {
  border-bottom: #c8d1d3 1px solid;
  display: grid;
  row-gap: 1em;
}
header nav {
  border-bottom: 1px #c8d1d3 solid;
  max-width: 100vw;
  padding-bottom: 1em;
}
header li {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #324755;
  list-style: none;
  font-size: 18px;
}
header a {
  color: #1B1C20;
  text-decoration: none;
}
header .homeButton {
  font-weight: 700;
}
header ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  column-gap: 7em;
  padding: 0;
}

body {
  max-width: 450px;
  margin: auto;
}

.settingsMain {
  background-color: #f0f3f4;
}

.settingsSection {
  padding-top: 3em;
}

.settingsHome {
  width: 130px;
  color: #1b1c20;
  font-weight: 700;
}

.categories {
  margin: 0;
  text-align: center;
  font-family: europa, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #b9b0a2;
}
.categories span {
  color: #87bcbf;
  font-size: 35px;
  font-weight: 700;
}

.line {
  margin: auto;
  margin-top: 1em;
  display: block;
  height: 2px;
  width: 30px;
  background-color: white;
}

.settingsFilters {
  background-color: white;
  max-width: 430px;
  margin: 0 1em;
  margin-top: 5em;
  border-radius: 15px;
  border: 1px solid white;
}
.settingsFilters p {
  font-family: europa, sans-serif;
  color: #1b1c20;
  font-weight: 700;
  font-size: 15px;
  margin-top: 1em;
  padding-top: 1em;
  margin-left: 2em;
  max-width: 100px;
}
.settingsFilters div {
  height: 75px;
  display: grid;
  border-bottom: 1px solid #c8d1d3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10em;
}
.settingsFilters .noBorder {
  border: 0;
}

.settingsFooter {
  display: grid;
  margin-top: 5em;
  padding: 1em 0;
  justify-content: center;
  row-gap: 2em;
}
.settingsFooter .darkmodeButton button {
  background-color: #f0f3f4;
  border: 1px solid black;
  border-radius: 25px;
  padding: 1em 2em;
  font-family: rift-soft, sans-serif;
}
.settingsFooter .version {
  font-size: 13px;
  padding-left: 2em;
}

.searchForm {
  display: grid;
  margin: auto;
  width: 300px;
  height: 50px;
  background-color: #f0f3f4;
  border-radius: 5px;
  border: 1px solid #f0f3f4;
  padding: 0 1em;
  margin-bottom: 1em;
}
.searchForm label {
  margin: auto;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.searchForm .searchInput, .searchForm button {
  outline: none;
  border: 0px solid;
  background-color: #f0f3f4;
  color: #1B1C20;
}

.switch {
  position: relative;
  display: block;
  height: 2em;
  width: 3.5em;
  background-color: lightgrey;
  border-radius: 1em;
  transition: background-color 500ms ease;
  margin-top: 1.5em;
}
.switch:after {
  content: "";
  position: absolute;
  top: 0.15em;
  left: 3%;
  height: 1.7em;
  width: 1.7em;
  border-radius: 50%;
  background-color: white;
  transition: left 500ms ease, background-color 500ms ease;
}

.switch__checkbox {
  display: none;
  max-width: 85px;
  width: 85px;
}

.switch__checkbox:checked + .switch:after {
  left: calc(97% - 1.7em);
  background-color: white;
}

.switch__checkbox:checked + .switch {
  background-color: #87BCBF;
}

.newsNav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-image: linear-gradient(to right, rgb(249, 249, 249), white);
  border-bottom: #c8d1d3 1px solid;
  border-top: #c8d1d3 1px solid;
}
.newsNav .newsNavDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.newsNav .newsTitle {
  font-family: europa, sans-serif;
  color: #1b1c20;
  font-weight: 700;
  text-align: center;
}
.newsNav .newsDropdownArrow {
  display: grid;
  justify-content: center;
  border: none;
}
.newsNav .newsDropdownArrow svg {
  width: 50px;
  cursor: pointer;
  height: 25px;
  align-self: center;
  margin-left: 10em;
}
.newsNav .newsNavLogo {
  width: 30px;
  display: grid;
  justify-content: center;
  height: 30px;
  margin-left: 1em;
  margin-top: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newsArticle {
  max-width: 450px;
  height: 100%;
  display: grid;
  animation: transition 1.25s;
  border-bottom: #c8d1d3 1px solid;
  border-top: #c8d1d3 1px solid;
  grid-template-columns: repeat(2, auto);
  column-gap: 2em;
  font-family: rift-soft, sans-serif;
}
.newsArticle a {
  text-decoration: none;
}

@keyframes transition {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
.hidden {
  display: none;
}

.articleContainer {
  border-bottom: #c8d1d3 1px solid;
  border-top: #c8d1d3 1px solid;
  padding: 0 1em;
  width: 100%;
  max-width: 450px;
}
.articleContainer .articleHeader {
  text-decoration: none;
  color: #1b1c20;
  font-weight: 700;
  font-family: europa, sans-serif;
  font-size: 15px;
}
.articleContainer .articleText {
  text-decoration: none;
  color: #6e8ca0;
  font-family: europa, sans-serif;
  font-size: 14px;
}

.newsArticleText {
  margin: 0;
}

body.darkmode {
  --headerBackground: hsl(40, 67%, 48%);
  --secondaryTextColor: black;
}/*# sourceMappingURL=style.css.map */