$Drab: #324755;
$Fossil: #c8d1d3;
$Ice: #f0f3f4;
$Onyx: #1b1c20;

header {
    border-bottom: $Fossil 1px solid;
    display: grid;
    row-gap: 1em;
    nav {
        max-width: 100vw;
        padding-bottom: 1em;
        border-bottom: $Fossil 1px solid;
    }
    li {
        font-family: europa, sans-serif;
        font-style: normal;
        font-weight: 300;
        list-style: none;
        font-size: 18px;
    }
    a {
        text-decoration: none;
    }
    .homeButton {
        font-weight: 700;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        column-gap: 7em;
        padding: 0;
    }
}
