$Drab: #324755;
$Fossil: #c8d1d3;
$Ice: #f0f3f4;
$Onyx: #1b1c20;
$Sage: #87bcbf;
$Sand: #b9b0a2;
$Slate: #6e8ca0;

.newsNav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: linear-gradient(to right, rgb(249, 249, 249), white);
    border-bottom: $Fossil 1px solid;
    border-top: $Fossil 1px solid;
    .newsNavDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .newsTitle {
        font-family: europa, sans-serif;
        color: $Onyx;
        font-weight: 700;
        text-align: center;
    }
    .newsDropdownArrow {
        display: grid;
        justify-content: center;
        border: none;
    }
    .newsDropdownArrow svg {
        width: 50px;
        cursor: pointer;
        height: 25px;
        align-self: center;
        margin-left: 10em;
    }
    .newsNavLogo {
        width: 30px;
        display: grid;
        justify-content: center;
        height: 30px;
        margin-left: 1em;
        margin-top: 0.5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
}

.newsArticle {
    max-width: 450px;
    height: 100%;
    display: grid;
    animation: transition 1.25s;
    border-bottom: $Fossil 1px solid;
    border-top: $Fossil 1px solid;
    grid-template-columns: repeat(2, auto);
    column-gap: 2em;
    font-family: rift-soft, sans-serif;
    a {
        text-decoration: none;
    }
}
@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.hidden {
    display: none;
}

.articleContainer {
    border-bottom: $Fossil 1px solid;
    border-top: $Fossil 1px solid;
    padding: 0 1em;
    width: 100%;
    max-width: 450px;
    .articleHeader {
        text-decoration: none;
        color: $Onyx;
        font-weight: 700;
        font-family: europa, sans-serif;
        font-size: 15px;
    }
    .articleText {
        text-decoration: none;
        color: $Slate;
        font-family: europa, sans-serif;
        font-size: 14px;
    }
}

.newsArticleText {
    margin: 0;
}
