$Drab: #324755;
$Fossil: #c8d1d3;
$Ice: #f0f3f4;
$Onyx: #1b1c20;
$Sage: #87bcbf;
$Sand: #b9b0a2;

.settingsSection {
    padding-top: 3em;
}

.settingsHome {
    width: 130px;
    color: $Onyx;
    font-weight: 700;
}

.categories {
    margin: 0;
    text-align: center;
    font-family: europa, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: $Sand;
    span {
        color: $Sage;
        font-size: 35px;
        font-weight: 700;
    }
}

.line {
    margin: auto;
    margin-top: 1em;
    display: block;
    height: 2px;
    width: 30px;
    background-color: white;
}

.settingsFilters {
    max-width: 430px;
    margin: 0 1em;
    margin-top: 5em;
    border-radius: 15px;
    border: 2px solid;
    p {
        font-family: europa, sans-serif;
        font-weight: 700;
        font-size: 15px;
        margin-top: 1em;
        padding-top: 1em;
        margin-left: 2em;
        max-width: 100px;
    }
    div {
        height: 75px;
        display: grid;
        border-bottom: 1px solid $Fossil;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10em;
    }
    .noBorder {
        border: 0;
    }
}

.settingsFooter {
    display: grid;
    margin-top: 5em;
    padding: 1em 0;
    justify-content: center;
    row-gap: 2em;
    .darkmodeButton button {
        border: 1px solid black;
        border-radius: 25px;
        padding: 1em 2em;
        font-family: rift-soft, sans-serif;
        cursor: pointer;
    }
    .version {
        font-size: 13px;
        padding-left: 2em;
    }
}
