$Drab: #324755;
$Fossil: #c8d1d3;
$Ice: #f0f3f4;
$Onyx: #1B1C20;
$Sage: #87BCBF;
$Sand: #B9B0A2;


.settingsMain {
    background-color: $Ice;
    height: 100vh;
}

.settingsSection {

    padding-top: 3em;
}

.settingsHome {
    width: 130px;
    color: $Onyx;
    font-weight: 700;
}

.categories {
    margin: 0;
    text-align: center;
    font-family: europa, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: $Sand;

    span {
        color: $Sage;
        font-size: 35px;
        font-weight: 700;
    }
}

.line {
    margin: auto;
    margin-top: 1em;
    display: block;
    height: 2px;
    width: 30px;
    background-color: white;
}

.settingsFilters {
    background-color: white;
    max-width: 430px;
    margin: 0 1em;
    margin-top: 5em;
    border-radius: 15px;
    border: 1px solid white;

    p {
        font-family: europa, sans-serif;
        color: $Onyx;
        font-weight: 700;
        font-size: 15px;
        margin-top: 1em;
        width: 20%;
        padding-top: 1em;
        margin-left: 2em;
    }

    div {
        height: 75px;
        display: grid;
        border-bottom: 1px solid $Fossil;
        display: grid;
    }

    .noBorder {
        border: 0;
    }
    
}



