$Sage: #87BCBF;
$Ice: #f0f3f4;


.switch {
	position: relative;
	display: block;
	height: 2em;
	width: 3.5em;
	background-color: lightgrey;
	border-radius: 1em;
	transition: background-color 500ms ease;
	margin-top: 1.5em;

	&:after {
		content: "";
		position: absolute;
		top: 0.15em;
		left: 3%;
		height: 1.7em;
		width: 1.7em;
		border-radius: 50%;
		background-color: white;
		transition: left 500ms ease, background-color 500ms ease;
	}
}

.switch__checkbox {
	display: none;
}

.switch__checkbox:checked+.switch:after {
	left: calc(97% - 1.7em);
	background-color: white;
}

.switch__checkbox:checked+.switch {
	background-color: $Sage;
}